<div class="banner">
    <div class="content">
        <h1 class="mb-5">Cook with what you <br/> already have at home!       .</h1>
        <a routerLink="menu">SEARCH NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to find recipes <span class="highlight"> based on what you already have at home</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Create account</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Select ingredients</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Search for recipes</p>
            </div>
        </div>
    </div>
</div>

<!-- foodbox  -->
<div class="container-about">
    Ever opened your fridge and/or cupboards and had no idea what to make?
      <br>
      Are you sick of seeing rotting lettuce and bendy carrots?
      <br>
      <h1>Then, this app is for you!</h1>
      RecipeQuest is an application that aims to reduce food waste by suggesting culturally diverse recipes based on what you already have at home.

</div>
